{% extends 'fragments/tabular/object.html' %}
{% load i18n %}

{% block column-actions %}
  {% ifpermission 'edit' formset_form %}
    <a href="{% mode_url 'edit' formset_form %}" class="btn btn-xs btn-primary"><i class="fa fa-edit fa-fw"></i></a>&nbsp;
  {% endifpermission %}
  {% ifpermission 'delete' formset_form %}
    <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#modal-container" data-url="{% mode_url 'delete' formset_form route='embed' %}"><i class="fa fa-trash fa-fw"></i></button>
  {% endifpermission %}
{% endblock %}
