/* correctly position brand and minimize vertical padding */
div.navbar-header>a.navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.breadcrumb {
  margin-bottom: 0px;
}
