{% extends "embed/base.html" %}

{% block modal-before %}
  <!-- <form action="{{ app_path }}" method="post">  -->
  <form {% if has_file_field %}enctype="multipart/form-data" {% endif %} action="{% mode_url view.mode object route='embed' %}" method="post" id="{{ view.model_name }}_form" novalidate class="{% block formclasses %}{% endblock %}">
  {% csrf_token %}
{% endblock %}

{% block modal-header %}
<h2>{{ view.get_title }}</h2>
{% endblock %}

{% block modal-body %}
  {% include view.view_template %}
{% endblock %}

{% block modal-after %}
  </form>
{% endblock %}
